body { padding-bottom: 70px; padding-top: 70px; }
.navbar {
    background: rgba(255,255,255,0.8);
 }
html{
	max-width: 100%;
}
body{
	font-family: 'Roboto', sans-serif;
	background-image: url("../blurred.jpg");
	background-size: cover;
	color:white;
}

#totalProg{
	margin-top: 10px;
}
#title{
	color: black;	
}
.text{
	color: white;
}

.btn-title{
	font-family: 'Roboto', sans-serif;
	margin-top: 5px;
	outline: none;
	width: 80%;
}
#title-text{
	text-align: center;
	font-size: 7vmin;
	font-family: 'Roboto', sans-serif;
}
#info-section{
	font-family: 'Roboto', sans-serif;
	margin-top: 90px;
}
#divider{
	width: 3px;
	background-color: black;
	height: 250px;
}
#content{
	text-align: left;
	font-weight: 300;
}
h5{
	font-size: 18px;
}
#progTxt{
	font-size: 15px;
}
#calibText{
	font-size: 20px;
}
.homeinfo{
	margin-right: auto;
	margin-left: auto;
}
.sec1{
	border-right: 1px solid white;
}
.secright, .secleft{
	width: 10vmin;
}
.rightsec p, .leftsec p{
	font-size: 3.7vmin;
}
.row{
	overflow: hidden;
}
