body{
	background-color : #0A0A0A;
	color : #84FFF1;
	font-family: 'Open Sans', sans-serif;
}
.plot{
	width:500px;
	height:200px;
	display : inline-block;
}

#events{
	border : 1px solid #427F78;
	font-family: courier;
	overflow-y : scroll;
	height : 800px;
	width: 500px;
}
.event{
	margin-bottom: 10px;
}
.event_data{
	width: 440px;
	font-size: 0.8em;
	margin-left: 20px;
	opacity: 0.8;
	white-space: pre-wrap;
	word-wrap: break-word;
}