body{
  font-family: 'Roboto', sans-serif;
  background-image:none;
  color:black;
  overflow: hidden;
}

.logo{
	transform: scale(.07);
	margin: 0;
	position: relative;
	-webkit-transform-origin: 0% 0% 0px;
	margin-top: -1.2vmin;
}
.navbar{
	margin: 0;
}
.navbar-brand{
	width: 100px;
}
#model-info-btn{
    width:30px;
    height: 30px;
}
#model-info-btn span{
    transform: scale(0.7);
    margin-top: -13px;
    margin-left: -12.5px;
}
#startModal rect {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dashStart 8s linear alternate infinite;
}

@keyframes dashStart {
  from {
    stroke-dashoffset: 500;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#calibModal rect {
  stroke-dasharray: 170;
  stroke-dashoffset: 170;
  animation: dashCalib 8s linear alternate infinite;
}

@keyframes dashCalib {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
