
h5{
	color: white;
}
#hand{
	margin-top: 30px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
#title{
	color: black;
}
.v-line{
	position:absolute;
	background-color: #336699;
	width: 5px;
	left:50%;
}
.h-line{
	position:absolute;
	background-color: #336699;
	height: 2px;
	left:50%;
}
body{
	position: relative;
	overflow:hidden;
}
.infotxt{
	position:absolute;
	left:50%;
	font-weight: 300;
	font-size: 50px;
}

.btn-title{
	margin-top: 5px;
	outline: none;
	width: 80%;
}
#title-text{
	text-align: center;
	font-size: 10vmin;
}

.logo{
	transform: scale(.07);
	margin: 0;
	position: relative;
	-webkit-transform-origin: 0% 0% 0px;
	margin-top: -1.2vmin;
}
.navbar{
	margin: 0;
}
.navbar-brand{
	width: 100px;
}
